<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="adout content">
      <h2>About Me</h2>
      <p>My name is Peter I like color Blue</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure odio
        saepe itaque rem, provident necessitatibus quibusdam nisi. Nulla hic
        soluta iusto omnis reiciendis debitis ratione. Reiciendis voluptate
        atque deleniti magni?
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
